<%= link_to "SiggiStickies", root_path, :class => 'brand' %>
<ul class="nav">
  <li> <a class="new-button" href="#"><i class="icon-plus-sign"></i> Create Sticky</a></i>
  <% if current_user %>
    <p>Logged in as <b><%= current_user.name %></b> (<%= current_user.email%>) <%= link_to "Log out", log_out_path %></p>
  <% else %>
    <li>
    <%= link_to "Sign in", new_sessions_path %>
    </li>
    <li>
    <%= link_to "Register", new_users_path %>
    </li>
  <%end%>
</ul>

